.card-page {
    /* padding: 70px 0;
    @include _992 {
        padding: 148px 0;
    } */
    &__header {
        
    }

    &__footer {
        
    }
    
    &__list {
        display: flex;
        flex-wrap: wrap;
        
        @include _768 {
            flex: 0 1 50%;
        }

        margin: -8px;

        @include _992 {
            margin: -10px;
        }
    }

    &__item {
        flex: 1 1 100%;
        padding: 8px;

        @include _768 {
            flex: 0 1 50%;
        }

        @include _992 {
            padding: 10px;
        }

        @media(min-width: 1150px) {
            flex: 0 1 33.333%;
        }
    }

    &__pagination {
        padding-top: 40px;
        @include _992 {
            padding-top: 56px;
        }

        &--list {
            display: flex;
            justify-content: center;
            flex-wrap: wrap;

            margin: -8px;

            
        }

        &--item {
            margin: 8px;
            /* filter: url(#round-min); */
        }

        &--btn {
            display: inline-flex;
            align-items: center;
            justify-content: center;

            width: 42px; height: 48px;

            position: relative;
            z-index: 2;

            transition: color .2s ease-in-out;

            color: var(--dark);
            
            &::before, &::after {
                content: '';
                position: absolute;
                left: 0; top: 0;
                width: 100%; height: 100%;
                z-index: -1;

                transition: opacity .2s ease-in-out;
            }

            &::before {
                background: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 46 52'%3E%3Cpath d='M26.1304 1.85846C24.1943 0.713846 21.8057 0.713845 19.8696 1.85846L4.11257 11.1741C2.17939 12.317 1 14.4205 1 16.6844V35.3156C1 37.5795 2.17939 39.683 4.11256 40.8259L19.8696 50.1415C21.8057 51.2862 24.1943 51.2862 26.1304 50.1415L41.8874 40.8259C43.8206 39.683 45 37.5795 45 35.3156V16.6844C45 14.4205 43.8206 12.317 41.8874 11.1741L26.1304 1.85846Z' fill='%23FEFEFE' stroke='%23DCE3EC' stroke-width='2'/%3E%3C/svg%3E%0A")
                center / contain no-repeat;
                opacity: 1;
            }

            &::after {
                background: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 46 52'%3E%3Cpath d='M41.8874 11.1741L26.1304 1.85846C24.1943 0.713846 21.8057 0.713845 19.8696 1.85846L4.11257 11.1741C2.17939 12.317 1 14.4205 1 16.6844V35.3156C1 37.5795 2.17939 39.683 4.11256 40.8259L19.8696 50.1415C21.8057 51.2862 24.1943 51.2862 26.1304 50.1415L41.8874 40.8259C43.8206 39.683 45 37.5795 45 35.3156V16.6844C45 14.4205 43.8206 12.317 41.8874 11.1741Z' fill='%23FEFEFE' stroke='url(%23paint0_linear_79_10226)' stroke-width='2'/%3E%3Cdefs%3E%3ClinearGradient id='paint0_linear_79_10226' x1='2' y1='2' x2='48.3359' y2='6.63267' gradientUnits='userSpaceOnUse'%3E%3Cstop stop-color='%231C4EFF'/%3E%3Cstop offset='1' stop-color='%231C92FF'/%3E%3C/linearGradient%3E%3C/defs%3E%3C/svg%3E%0A")
                center / contain no-repeat;
                opacity: 0;
            }

            &:hover, &._active {
                color: var(--accent);
                &::after {
                    opacity: 1;
                }
            }
           
        }

    }
}
