
._main-title {
    font-family: var(--title-font);
    font-weight: 600;
    line-height: 130%;

    margin: 0;

    font-size: 1.875rem;
    &._min {
        font-size: 1.5rem;
        line-height: 150%;
    }

    @include _768 {
        font-size: 2.5rem;
        &._min {
            font-size: 2rem;
        }
    }

    @include _992 {
        font-size: 4.375rem;
        &._min {
            font-size: 3rem;
        }
    }
}

._title {
    
    font-family: var(--title-font);
    font-weight: 600;
    line-height: 150%;
    color: var(--dark);

    font-size: 1.125rem;

    @include _992 {
        font-size: 1.375rem;
    }
    
    &._min {

    }
}

._section-title {

    font-family: var(--title-font);
    font-weight: 500;
    font-size: 1rem;

    background: var(--gradient);
    background-clip: text;
    color: transparent;

    text-transform: uppercase;

    &._light {
        color: var(--white);
        background-clip: initial;
        background: transparent;
    }

}

._section-subtitle {
    line-height: 150%;
    font-weight: 600;

    font-size: 1.5rem;
    &._super-min {
        font-size: 1.5rem;
    }

    &._large {
        font-weight: 500;
        font-size: 1.5625rem;
    }

    color: var(--dark);

    &._light {
        color: var(--white);
    }

    & strong {
        color: var(--accent);
    }

    @include _768 {
        font-size: 2rem;

        &._large {
            font-weight: 600;
            font-size: 2.5rem;
        }

        &._super-min {
            font-size: 1.5rem;
        }

    }

    @include _992 {
        font-size: 2.5rem;

        &._large {
            font-size: 3rem;
        }

        &._super-min {
            font-size: 2rem;
        }

    }

}

._txt-center {
    text-align: center;
}
