
._main-title {
    font-family: var(--title-font);
    font-weight: 600;
    line-height: 130%;

    margin: 0;

    font-size: 1.875rem;

    @include _768 {
        font-size: 2.5rem;
    }

    @include _992 {
        font-size: 4.375rem;
    }
}

._title {
    
    font-family: var(--title-font);
    font-weight: 600;
    line-height: 150%;
    color: var(--dark);

    font-size: 1.125rem;

    @include _992 {
        font-size: 1.375rem;
    }
    
    &._min {

    }
}

._section-title {

    font-family: var(--title-font);
    font-weight: 500;
    font-size: 1rem;

    background: var(--gradient);
    background-clip: text;
    color: transparent;

    text-transform: uppercase;

}

._section-subtitle {
    line-height: 150%;
    font-weight: 600;
    font-size: 1.5rem;
    color: var(--dark);

    @include _768 {
        font-size: 2rem;
    }

    @include _992 {
        font-size: 2.5rem;
    }

}

._txt-center {
    text-align: center;
}
