html, body {
    font-size: 16px;
    min-height: 100%;
}

body {

    font-family: var(--main-font);
    
    font-weight: 400;
    line-height: 150%;

    display: flex;
    flex-direction: column;

    padding-right: var(--popup-padding);

    &._active {
        overflow: hidden;
    }

    &._popup-active {
        overflow: hidden;
    }
    
}

.offset-check-js {
    position: fixed;
    left: 0; top: 0;
}

.wrapper {
    overflow: hidden;

    flex: 1 0 auto;
}

._container {
    padding: 0 var(--container-padding);
    margin: 0 auto;
    max-width: #{$container}px;
    &._min {
        max-width: #{$containerMin}px;
    }
    &._large {
        max-width: #{$containerLarge}px;
    }
}

._section-padding {
    padding: 56px 0px;
    @include _768 {
        padding: 104px 0px;
    }
}

._section-min-padding {
    padding: 38px 0;
    @include _768 {
        padding: 50px 0;
    }
}

._dark-bg {
    background: var(--dark-gradient);
}

._accent-bg {
    background: var(--accent);
}

._bg-img {
    position: absolute;
    left: 0; top: 0;
    
    width: 100%; height: 100%;

    user-select: none;
    object-fit: cover;

    z-index: -1;
}

._burger {
    position: relative;

    width: 25px; height: 16px;

    background: transparent;

    z-index: 10;

    transition: all .2s ease-in-out;

    cursor: pointer;

    display: inline-block;
    @include _992 {
        display: none;
    }

    & span {
        position: absolute;
        right: 0;
        
        height: 2px; border-radius: 5px;
        background-color: var(--dark-2);
        transition: all .2s ease-in-out;

        &:nth-child(1) {
            top: 0;
            width: 100%;
        }
        &:nth-child(2) {
            top: 50%;
            transform: translate(0, -50%);
            width: 50%;
            opacity: 1; visibility: visible;
        }
        &:nth-child(3) {
            top: 100%;
            width: 75%;
            transform: translate(0, -100%);
        }
    }
    &._active span {
        width: 100%;
        &:nth-child(1) {
            top: 50%;
            transform: translate(0, 0%) rotate(45deg);
        }
        &:nth-child(2) {
            opacity: 0; visibility: hidden;
        }
        &:nth-child(3) {
            top: 50%;
            transform: translate(0, -0%) rotate(-45deg);
        }

    }
}

._btn {
    display: inline-block;
    
    padding: 16px 63px;

    background: var(--gradient);
    background-clip: text;
    color: var(--white);

    font-weight: 500;
    font-size: 1.125rem;
    line-height: 135%;

    border-radius: 100px;

    transition: color .2s ease-in-out;

    position: relative;
    z-index: 2;

    &::before {
        content: '';
        position: absolute;
        left: 0; top: 0;
        width: 100%; height: 100%;
        border: 3px solid transparent;
        border-radius: 50px;
        background: linear-gradient(45deg,#1C4EFF,#1C92FF) border-box;
        -webkit-mask:
            linear-gradient(#fff 0 0) padding-box, 
            linear-gradient(#fff 0 0);
        -webkit-mask-composite: xor;
        mask-composite: exclude;

        transition: opacity .2s ease-in-out;
        opacity: 0;
    }

    &::after {
        content: '';
        position: absolute;
        left: 0; top: 0;
        width: 100%; height: 100%;
        border-radius: 100px;

        background: var(--gradient);

        opacity: 1;
        transition: opacity .2s ease-in-out;
        z-index: -1;
    }

    &:hover {
        color: transparent;
        -webkit-text-fill-color: transparent;
        &::after {
            opacity: 0;
        }
        &::before {
            opacity: 1;
        }
    }

    &._min {
        padding: 10px 20px;
        font-size: 0.875rem;
    }

    &._alt-min {
        font-size: 1.125rem;
        padding: 13px 50px;
    }
    
    &._transparent {
        color: transparent;
        &::after {
            opacity: 0;
        }
        &::before {
            border-width: 1px;
            opacity: 1;
        }
        &:hover {
            color: var(--white);
            &::before {
                opacity: 0;
            }
            &::after {
                opacity: 1;
            }
        }
    }

    &._dark {
        color: var(--dark);
        border: 1px solid var(--dark);
        background: transparent;
        background-clip: initial;

        transition: color .2s ease-in-out, border .2s ease-in-out, background .2s ease-in-out;
        &::before, &::after {
            display: none;
        }
        &:hover {
            color: var(--white);
            background: var(--accent);
            border-color: var(--accent);
        }
    }

    &._alt {
        &::before, &::after {
            display: none;
        }
        font-weight: 500;
        font-size: 1rem;
        color: var(--accent);

        padding: 12px 24px;

        background: var(--accent-light);

        transition: color .2s ease-in-out, background .2s ease-in-out;
        &:hover {
            color: var(--white);
            background: var(--accent);
        }
    }

    &._light {

        padding: 14px 63px;

        &::before, &::after {
            display: none;
        }
        font-weight: 500;
        font-size: 1rem;
        line-height: 120%;

        color: var(--accent);
        background-clip: inherit;
        background: var(--white);

        transition: background .2s ease-in-out;

        &:hover {
            background: var(--accent-light);
        }
    }

    &-icon {
        display: inline-block;
        transform: rotate(-90deg);
        font-size: 12px;
        margin-left: 5px;
        
    }
}

._df-center {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
}

._drop-down-btn:hover + ._drop-down-content,
._drop-down-btn._active + ._drop-down-content {
    opacity: 1; visibility: visible;
}

._drop-down-btn {
    position: relative;
    
    &::after {
        content: "\e901";
        display: inline-block;
        /* use !important to prevent issues with browser extensions that change fonts */
        font-family: 'flexe-draft' !important;
        speak: never;
        font-style: normal;
        font-weight: normal;
        font-variant: normal;
        text-transform: none;
        line-height: 1;
      
        /* Better Font Rendering =========== */
        -webkit-font-smoothing: antialiased;
        -moz-osx-font-smoothing: grayscale;
    
        margin-left: 5px;
        font-size: 12px;
    
        transition: transform .2s ease-in-out;
    }

    &:hover::after, &._active::after {
        transform: scaleY(-1);
    }

    &:hover, &._active {
        color: var(--accent);
    }
}

._drop-down:hover ._drop-down-btn {
    color: var(--accent);
    &::after {
        transform: scaleY(-1);
    }
}

._drop-down {
    position: relative;
}

._drop-down-content {
    position: absolute;
    left: 50%; top: 100%;
    transform: translate(-50%,0);

    opacity: 0; visibility: hidden;
    transition: opacity .2s ease-in-out, visibility .2s ease-in-out;

    will-change: opacity;

    z-index: 100;
    &:hover {
        opacity: 1; visibility: visible;
    }
}

._link {
    font-weight: 500;
    line-height: 170%;

    background: transparent;
    color: var(--dark);

    transition: color .2s ease-in-out;
    &:hover {
        color: var(--accent);
    }
}

._link-gray {
    font-weight: 500;
    line-height: 170%;

    background: transparent;
    color: var(--gray);

    transition: color .2s ease-in-out;
    &:hover {
        color: var(--white);
    }
}

._user-none {
    user-select: none; -webkit-user-drag: none;
}

._ul-check li {
    display: flex;
    align-items: center;

    padding: 8px 0;

    &::before {
        content: "\e903";

        font-family: 'flexe-draft' !important;
        speak: never;
        font-style: normal;
        font-weight: normal;
        font-variant: normal;
        text-transform: none;
        line-height: 1;
    
        -webkit-font-smoothing: antialiased;
        -moz-osx-font-smoothing: grayscale;

        font-size: 10px;
        color: var(--white);

        display: inline-flex;
        justify-content: flex-end;

        flex: 0 0 16px;
        width: 16px; height: 16px;

        padding-top: 1px;
        margin-right: 10px;

        border-radius: 50%;
        background: var(--gradient);
    }
}

._page-header-padding {
    padding: 52px 0 50px 0;
    @include _768 {
        padding: 25px 0 50px 0;
    }
    @include _992 {
        padding: 62px 0 50px 0;
    }
}
