.slider-arrow {
    position: relative;
    left: 0; top: 0; bottom: 0; right: 0;
    transform: translate(0,0);
    margin: auto;

    flex: 0 0 56px;
    display: inline-flex;
    width: 56px; height: 56px;
    border-radius: 50%;

    margin: auto 8px;

    border: 1px solid var(--accent);

    transition: color .2s ease-in-out, border .2s ease-in-out;

    &.swiper-button-disabled {
        opacity: 1;
        border: 1px solid var(--gray);
        color: var(--gray);
    }

    &::after {
        font-size: 15px;
        font-weight: 700;
    }

    &::before {
        content: '';
        position: absolute;
        left: 0; top: 0;
        width: 100%; height: 100%;
        border-radius: 50%;
        background: var(--gradient);

        opacity: 0;
        transition: opacity .2s ease-in-out;

        z-index: -1;
    }

    &:hover {
        color: var(--white);
        border-color: transparent;
        &::before {
            opacity: 1;
        }
    }

    &.swiper-button-disable:hover {
        color: var(--gray);
        border-color: var(--gray);
        &::before {
            opacity: 0;
        }
    }
}

.slider-controls {
    display: flex;
    align-items: center;

    margin: 0 -8px;
}

.swiper-pagination-bullet {
    width: 8px; height: 8px;
    background: var(--light-gray);

    display: inline-block;

    position: relative;
    opacity: 1;
    &::before {
        content: '';
        position: absolute;
        left: 0; top: 0;
        width: 100%; height: 100%;
        border-radius: 50%;
        background: var(--gradient);

        transition: opacity .2s ease-in-out;
        opacity: 0;
    }
    &.swiper-pagination-bullet-active {
        &::before {
            opacity: 1;
        }
    }
}

._slider {
    padding: 0 15px;
    @media(min-width: 500px) {
        padding: 0 70px;
    }

    display: flex;
    flex-direction: column;

    &-header {
        width: calc(100% + 140px);
        margin: 0 -15px;

        @media(min-width: 500px) {
            margin: 0 -70px;
        }

        @include _768 {
            order: 1;
        }

        @media(min-width: 1482px) {
            width: 100%; margin: 0px;
        }

        &-container {
            display: flex;
            flex-wrap: wrap;
            justify-content: space-between;
        }
    }
    &-list {
        margin-top: 40px;

        /* order: 3; */
        @include _768 {
            margin-top: 53px;
            order: 2;
        }
    }
    &-footer {
        width: calc(100% + 140px);
        margin: 0 -15px;
        padding: 0 15px;

        @media(min-width: 500px) {
            margin: 0 -70px;
        }

        display: flex;
        justify-content: flex-start;

        padding-top: 24px;
        @include _768 {
            order: 4;
            padding-top: 48px;
            justify-content: center;
        }
    }
    &-pagination {
        order: 3;
        @include _768 {
            display: none;
        }
        & .swiper-pagination {
            position: static;
            margin-top: 20px;
        }
    }
}

.slider-min-pagination {
    @include _768 {
        display: none;
    }
    & .swiper-pagination {
        position: static;
        margin-top: 20px;
    }
}
