
$main_font: 'Poppins';

$accent: teal;

$white: #FFFFFF;
$black: #000000;

$containerPadding: 15;

$container: 1312 + ($containerPadding * 2);
$containerMin: 868 + ($containerPadding * 2);
$containerLarge: 1000 + ($containerPadding * 2);

:root {
    --title-font: 'Poppins';
    --main-font: 'Poppins';
    
    --accent: #1C56FF;
    --accent-light: #E7EDFF;

    --dark: #01132F;
    --dark-2: #333;

    --gray: #788393;
    --accent-gray: #F7F8FB;
    --light-gray: #DCE3EC;
    --light-gray-2: #F1F4F9;
    --dark-gray: #50555C;

    --white: #FFF;
    --black: #000;

    --gradient: linear-gradient(96.52deg, #1C4EFF 0%, #1C92FF 100%);
    --gradient-v2: linear-gradient(349.85deg, #1C4EFF 14.74%, #1C92FF 85.09%);
    --dark-gradient: radial-gradient(100.56% 100.56% at 1.28% 1.22%, #0E2851 0%, #01132F 100%);

    --shadow: 8px 12px 36px rgba(0, 0, 0, 0.1);

    --br: 16px;
    --br-2: 12px;

    --container-padding: 15px;

    --hexagon: polygon(45% 1.33975%, 46.5798% 0.60307%, 48.26352% 0.15192%, 50% 0%, 51.73648% 0.15192%, 53.4202% 0.60307%, 55% 1.33975%, 89.64102% 21.33975%, 91.06889% 22.33956%, 92.30146% 23.57212%, 93.30127% 25%, 94.03794% 26.5798%, 94.48909% 28.26352%, 94.64102% 30%, 94.64102% 70%, 94.48909% 71.73648%, 94.03794% 73.4202%, 93.30127% 75%, 92.30146% 76.42788%, 91.06889% 77.66044%, 89.64102% 78.66025%, 55% 98.66025%, 53.4202% 99.39693%, 51.73648% 99.84808%, 50% 100%, 48.26352% 99.84808%, 46.5798% 99.39693%, 45% 98.66025%, 10.35898% 78.66025%, 8.93111% 77.66044%, 7.69854% 76.42788%, 6.69873% 75%, 5.96206% 73.4202%, 5.51091% 71.73648%, 5.35898% 70%, 5.35898% 30%, 5.51091% 28.26352%, 5.96206% 26.5798%, 6.69873% 25%, 7.69854% 23.57212%, 8.93111% 22.33956%, 10.35898% 21.33975%);
}



@font-face {
    @include font-include('Poppins', 400, swap, normal, 'Poppins-Regular');
}

@font-face {
    @include font-include('Poppins', 500, swap, normal, 'Poppins-Medium');
}

@font-face {
    @include font-include('Poppins', 600, swap, normal, 'Poppins-SemiBold');
}


@font-face {
    font-family: 'flexe-draft';
    src:
      url('flexe-draft.ttf?8862na') format('truetype'),
      url('flexe-draft.woff?8862na') format('woff'),
      url('flexe-draft.svg?8862na#flexe-draft') format('svg');
    font-weight: normal;
    font-style: normal;
    font-display: block;
  }
  
  [class^="_icon-"], [class*=" _icon-"] {
    /* use !important to prevent issues with browser extensions that change fonts */
    font-family: 'flexe-draft' !important;
    speak: never;
    font-style: normal;
    font-weight: normal;
    font-variant: normal;
    text-transform: none;
    line-height: 1;
  
    /* Better Font Rendering =========== */
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
  }
  
  ._icon-arrow-down::before {
    content: "\e901";
  }
  ._icon-arrow-square-down::before {
    content: "\e902";
  }
  ._icon-arrow-card::before {
    content: "\e900";
  }
  ._icon-check::before {
    content: "\e903";
  }
  
  
