.about-us {
    position: relative;

    &__container {

    }

    // .about-us__decor

    &__decor {
        position: absolute;
        left: 50%; top: 0;
        transform: translate(-50%,0);
        z-index: -1;
        // .about-us__decor--img

        &--img {
            width: 500px;
            @include _768 {
                max-width: 662px;
                width: 100%;
            }
        }
    }

    // .about-us__section-title

    &__section-title {
        text-align: center;
    }

    // .about-us__section-subtitle

    &__section-subtitle {
        padding-top: 8px;
        line-height: 135%;
        text-align: center;
    }

    // .about-us__list

    &__list {
        
        padding: 45px 15px 45px 15px;
        @include _768 {
            padding: 65px 0 45px 0;
        }

        /* display: grid;
        grid-template-columns: repeat(6, auto); */
        display: flex;
        flex-wrap: wrap;
        justify-content: space-between;

        @media(min-width: 500px) {
            justify-content: space-evenly;
        }

        /* gap: 20px; */
        
        margin: -15px;
        
        
    }

    // .about-us__item

    &__item {
        flex: 0 1 50%;
        @media(min-width: 500px) {
            flex: 0 1 auto;
            
        }

        padding: 15px 0;

        @include _768 {
            padding: 15px;
        }
        
        text-align: center;
        // .about-us__item--image

        &--image {
        }

        // .about-us__item--img

        &--img {
            object-fit: contain;
            max-width: 80px;
            @include _768 {
                max-width: 100px;
            }
        }

        // .about-us__item--value

        &--value {
            padding-top: 20px;

            display: block;

            font-weight: 600;
            font-size: 1.625rem;

            @include _768 {
                font-size: 2rem;
                padding-top: 23px;
            }

            @include _992 {
                font-size: 2.5rem;
            }

            color: var(--dark);

            &._min {
                font-size: 1.25rem;

                @include _768 {
                    font-size: 1.5rem;
                }
    
                @include _992 {
                    font-size: 1.75rem;
                }
            }
            
        }

        // .about-us__item--name

        &--name {
            padding-top: 3px;
            & br {
                display: none;
            }
            @include _768 {
                padding-top: 20px;
                & br {
                    display: inherit;
                }
            }

            display: block;

            font-weight: 500;
            font-size: 0.875rem;
            @include _768 {
                font-size: 1rem;
            }
            color: var(--gray);
        }
    }
}

