.contact-us {
    padding: 0 0 66px 0;
    @include _992 {
        padding: 80px 0 40px 0;
    }
    // .contact-us__container

    &__container {
        /* display: flex;
        flex-wrap: wrap;
        align-items: center;
        justify-content: space-between;

        flex-direction: column;
        @include _992 {
            flex-direction: row;
        } */
        display: grid;
        grid-template-columns: 100%;
    }

    // .contact-us__video

    &__video {
        overflow: hidden;

        display: flex;
        justify-content: center;

        grid-column: 1/2; grid-row: 1/1;
        @include _992 {
            padding: 80px 0 30px 0;
            margin-top: -40px;

            grid-column: 1/2; grid-row: 1/2;

            display: block;
        }
        // .contact-us__video--img

        &--element {
            max-width: 500px; height: 350px;
            margin: -70px 0;

            @include _426 {
                margin: -50px 0;
            }
            
            @include _992 {
                max-width: 55%;
                height: 450px;
                margin: 0;
                margin-top: -75px;
                /* margin: -112px -45px; */
            }

            /* @media(min-width: 1050px) {
                max-width: 60%;
            } */

            @media(min-width: 1170px) {
                max-width: 67%;
            }

            width: 100%;
            /* object-fit: contain; */
        }
    }

    // .contact-us__info

    &__info {
        grid-column: 1/2; grid-row: 2/2;
        @include _992 {
            grid-column: 1/2; grid-row: 1/2;
        }
        /* flex: 0 1 50%;
        @media(min-width: 1150px) {
            flex: 0 1 41%;
            padding-right: 50px;
        } */
        display: flex;
        justify-content: flex-end;
        &--body {
            max-width: 100%;
            @include _992 {
                max-width: 47%;
            }
            @media(min-width: 1170px) {
                max-width: 40%;
            }
        }
    }

    // .contact-us__section-title

    &__section-title {
        text-align: center;
        @include _992 {
            text-align: left;
        }
    }

    // .contact-us__section-subtitle

    &__section-subtitle {
        text-align: center;
        padding-top: 10px;
        @include _992 {
            padding-top: 5px;
            text-align: left;
        }
    }

    // .contact-us__social

    &__social {
        padding-top: 32px;

        @include _768 {
            padding-top: 46px;
        }
        
        @media(min-width: 1150px) {
            padding-right: 62px;
        }
        // .contact-us__social--list

        &--list {
            display: flex;
            flex-wrap: wrap;

            margin: -10px;
        }

        // .contact-us__social--item

        &--item {
            padding: 10px;

            flex: 1 1 100%;
            @include _768 {
                flex: 0 1 50%;
            }

            &._full {
                flex: 1 1 100%;
            }
        }

        // .contact-us__social--link

        &--link {
            width: 100%;

            display: inline-flex;
            align-items: center;
            justify-content: center;

            padding: 12px;
            border-radius: 100px;

            font-weight: 500;
            font-size: 1rem;

            color: var(--accent);
            background: var(--white);

            transition: background .2s ease-in-out;

            &:hover {
                background: var(--accent-light);
            }

            & svg {
                margin-right: 12px;
                width: 20px; height: 20px;
            }
        }

        // .contact-us__social--copy

        &--copy {
        }
    }

    // .contact-us__copy

    &__copy {

        // .contact-us__copy--input

        display: grid;
        grid-template-columns: 100%;

        &--label {
            grid-area: 1/1;
        }

        &--input {

            width: 100%;

            background: rgba(255,255,255,0.3);
            color: var(--white);

            border-radius: 100px;
            padding: 14px 110px 14px 20px;

            &::selection {
                background: var(--accent);
            }
        }

        // .contact-us__copy--btn

        &--btn {
            grid-area: 1/1;
            justify-self: end;
            width: 90px; min-height: 100%;

            display: flex;
            align-items: center;
            justify-content: center;

            background: var(--white);
            border-radius: 100px;
            padding: 0 20px;

            transition: background .2s ease-in-out;

            &:hover {
                background: var(--accent-light);
            }

            & svg {
                width: 22px; height: 24px;
            }
        }
    }
}

