.done-projects-card {

    // .done-projects-card__body

    &__body {
        border: 1px solid var(--light-gray);
        border-radius: var(--br);

        padding: 24px 16px;
        @include _768 {
            padding: 32px 24px;
        }

        display: flex;
        flex-direction: column;
        align-items: center;

        min-height: 100%;
    }

    // .done-projects-card__logo

    &__logo {

        // .done-projects-card__logo--img

        &--img {
            object-fit: contain;
        }
    }

    // .done-projects-card__descr

    &__descr {
        padding-top: 20px;

        text-align: center;
        font-weight: 400;
        font-size: 0.875rem;
        @include _768 {
            font-size: 1rem;
        }
        line-height: 160%;

        & p {
            padding: 7px 0;
        }
    }

    // .done-projects-card__info

    &__info {
        margin-top: 32px;
        @include _768 {
            margin-top: 40px;
        }

        width: 100%;
        background: var(--accent-gray);
        border-radius: var(--br);
        overflow: hidden;

        display: flex;
        flex-wrap: wrap;
        justify-content: space-around;

        position: relative;
        z-index: 2;
        &::before {
            content: '';
            position: absolute;
            left: 50%; top: 50%;
            width: 1px; height: calc(100% - 48px);
            transform: translate(-50%,-50%);
            background: var(--light-gray);
            z-index: -1;
        }
        // .done-projects-card__info--elem

        &--elem {
            flex: 0 1 calc(50% - 1px);
            display: flex;
            flex-direction: column;
            align-items: center;
            text-align: center;

            padding: 24px;

            background: var(--accent-gray);
        }

        // .done-projects-card__info--icon

        &--icon {
            width: 32px; height: 32px;
        }

        // .done-projects-card__info--value

        &--value {
            padding-top: 16px;
            color: var(--dark);
            font-weight: 600;
            
            font-size: 1.25rem;
            
            @include _768 {
                font-size: 1.5rem;
            }

            @include _992 {
                padding-top: 20px;
                font-size: 1.75rem;
            }

        }

        // .done-projects-card__info--name

        &--name {
            color: var(--gray);
            font-size: 0.75rem;
            
            @include _768 {
                font-size: 0.875rem;
            }
        }
    }

    // .done-projects-card__footer

    &__footer {
        flex: 1 1 auto;
        padding-top: 24px;

        display: flex;
        align-items: flex-end;
        flex-wrap: wrap;

        margin: -10px;
    }

    // .done-projects-card__link

    &__link {
        margin: 10px;
    }
}

.done-projects {

    // .done-projects__container

    &__container {
    }

    // .done-projects__slider

    &__slider {
        // .done-projects__slider--header

        &--header {
            
        }

        &--container {
            
        }

        // .done-projects__slider--info

        &--info {
        }

        // .done-projects__slider--controls

        &--controls {
            display: none;
            @include _768 {
                display: flex;
                align-items: flex-end;
            }
        }

        // .done-projects__slider--arrow

        &--arrow {
            margin-top: 0; margin-bottom: 0;
        }

        // .done-projects__slider--list

        &--list {
            
        }

        &--item {
            height: auto;
        }

        &--pagination {
            
        }

        &--footer {   
        }
    }

    // .done-projects__section-title

    &__section-title {
    }

    // .done-projects__section-subtitle

    &__section-subtitle {
    }
}


