.case-intro {

    &__header {
        padding: 96px 0 20px 0;
        @include _992 {
            padding: 173px 0 76px 0;
        }
        background: var(--light-gray-2);
    }
    // .case-intro__container

    &__container {
        display: flex;
        align-items: center;
        justify-content: space-between;
        flex-wrap: wrap;

        flex-direction: column;

        @include _992 {
            flex-direction: row;
            
        }

        
    }

    // .case-intro__image

    &__image {
        display: none;

        @media(min-width: 500px) {
            display: block;
            position: relative;
            flex: 1 1 100%;
            width: 100%;
    
            padding-top: 60%;
        }
        
        @include _992 {
            flex: 0 1 56.1%; width: auto;
            padding-top: 0;
        }
        // .case-intro__image--img

        &--img {
            
            @media(min-width: 500px) {
                width: 100%; height: 100%;
                object-fit: contain;

                position: absolute;
                left: 50%; top: 50%;
                transform: translate(-50%,-50%);
            }

            @include _992 {
                height: 464px;
                position: static;
                transform: translate(0%,0%);
            }
        }
    }

    // .case-intro__info

    &__info {
        padding-top: 0px; padding-bottom: 30px;
        flex: 0 1 40%;

        display: flex;
        flex-direction: column;
        align-items: center;

        @include _992 {
            padding-bottom: 0;
            align-items: flex-start;
        }
        // .case-intro__info--subtitle

        &--subtitle {
        }

        // .case-intro__info--title

        &--title {
            text-align: center;
            @include _768 {
                text-align: left;
            }
        }

        // .case-intro__info--statistic

        &--statistic {
            margin-top: 12px;
            @include _768 {
                margin-top: 32px;
            }
            @include _992 {
                margin-top: 45px;
            }
        }
    }

    // .case-intro__statistic

    &__statistic {
        max-width: 376px; width: 100%;

        position: relative;
        &::before {
            content: '';
            position: absolute;
            left: 50%; top: 50%;
            transform: translate(-50%,-50%);
            height: calc(100% - 48px); width: 1px;
            background: var(--light-gray);
            @include _992 {
                background: var(--light-gray-2);
            }
        }
        // .case-intro__statistic--body

        &--body {
            background: var(--light-gray-2);
            @include _992 {
                background: var(--white);
            }

            display: flex;
            justify-content: center;
            flex-wrap: wrap;
            
            border-radius: var(--br);
        }

        // .case-intro__statistic--elem

        &--elem {
            position: relative;
            z-index: 2;

            flex: 0 1 calc(50% - 2px);
            min-width: 120px;

            padding: 21px 24px;
            margin: 1px;

            display: flex;
            flex-direction: column;
            align-items: center;

            border-radius: var(--br);
            background: var(--light-gray-2);
            @include _992 {
                background: var(--white);
            }
        }

        // .case-intro__statistic--icon

        &--icon {
            width: 32px; height: 32px;
        }

        // .case-intro__statistic--value

        &--value {
            display: block;
            padding-top: 15px;

            font-weight: 600;
            font-size: 1.25rem;
            @include _768 {
                font-size: 1.75rem;
            }
            line-height: 140%;
        }

        // .case-intro__statistic--name

        &--name {
            padding-top: 0;
            display: block;

            font-size: 0.75rem;
            @include _768 {
                font-size: 0.875rem;
            }
            color: var(--gray);
        }
    }

    // .case-intro__footer

    &__footer {
        padding: 40px 0 22px 0;
        @include _768 {
            padding: 64px 0;
        }
    }

    // .case-intro__content

    &__content {
        

        @include _992 {
            display: grid;
            grid-template-columns: 50% 50%;

            & > * {
                align-self: flex-start;
            }
        }

        flex: 0 1 50%;

        font-weight: 500;
        font-size: 1rem;
        line-height: 150%;

        & p {
            padding-top: 16px; padding-bottom: 16px;
        }

        &--item {
            @include _992 {
                &._order {

                    &._1 {
                        grid-column: 1/1; grid-row: 1/1;
                    }
    
                    &._2 {
                        grid-column: 1/1; grid-row: 2/2;
                    }
    
                    &._3 {
                        grid-column: 1/1; grid-row: 3/7;
                    }
    
                    &._4 {
                        grid-column: 2/2; grid-row: 1/4;
                    }
    
                    &._5 {
                        grid-column: 2/2; grid-row: 4/4;
                    }
                }
            }
           
        }

        &--block {
            padding-top: 16px; padding-bottom: 16px;
        }
        // .case-intro__content--name

        &--name {
            color: var(--gray);
        }

        // .case-intro__content--value

        &--value {
        }

        // .case-intro__content--ul

        &--ul {
        }

        // .case-intro__content--li

        &--li {
            padding: 8px 0;
        }

        // .case-intro__content--text

        &--text {
            font-weight: 400;
            font-size: 0.875rem;
            @include _768 {
                font-size: 1.25rem;
            }
            line-height: 160%;

            display: block;
            padding-right: 10px;
        }

        // .case-intro__content--link

        &--link {
            color: var(--accent);
            font-size: 0.875rem;
        }

        // .case-intro__content--link-icon

        &--link-icon {
            display: inline-block;
            transform: rotate(-90deg);
            font-size: 11px;
            margin-left: 7px;
        }
    }

}

